<h1> Cleanning and Handling Data </h1>

In [2]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randint(0, 1000, size=(10,5)), columns=list('ABCDE'))
df

     A    B    C    D    E
0   93  424  677  293  221
1  995  384  836  593  909
2  559  745  695  530  414
3  566  836  190  303  935
4  725  502  611  673  565
5  772  846  544  922  693
6  384  195  323  738  313
7  991  965  127  907  226
8  228   97   87  600  184
9  431  610  458  894  579

In [3]:
#categorical
df_categorical = pd.DataFrame({"Color": ["Red","Blue", "Purple", "Yellow"], "Car Brand": ["Dodge", "Mercedes", "Fiat", "Deawoo"]})
df_categorical

    Color Car Brand
0     Red     Dodge
1    Blue  Mercedes
2  Purple      Fiat
3  Yellow    Deawoo

<h1>Missing Values</h1>

NaNs

In [4]:
#Handle NaN's
create_nan = {'example': [np.nan, np.nan, 20,30,40, 50, 60, 60, np.nan,np.nan,1,2,3,4,5,np.nan,np.nan, np.nan]}
df_nan = pd.DataFrame(create_nan,columns=['example'])
df_nan

    example
0       NaN
1       NaN
2      20.0
3      30.0
4      40.0
5      50.0
6      60.0
7      60.0
8       NaN
9       NaN
10      1.0
11      2.0
12      3.0
13      4.0
14      5.0
15      NaN
16      NaN
17      NaN

In [5]:
df_nan.isnull().values.any()

True

In [6]:
df_nan['example'].isnull().values.any()

True

In [7]:
df_clean = df_nan.fillna(0)
df_clean

    example
0       0.0
1       0.0
2      20.0
3      30.0
4      40.0
5      50.0
6      60.0
7      60.0
8       0.0
9       0.0
10      1.0
11      2.0
12      3.0
13      4.0
14      5.0
15      0.0
16      0.0
17      0.0

In [8]:
df_nan.fillna(method='ffill')

    example
0       NaN
1       NaN
2      20.0
3      30.0
4      40.0
5      50.0
6      60.0
7      60.0
8      60.0
9      60.0
10      1.0
11      2.0
12      3.0
13      4.0
14      5.0
15      5.0
16      5.0
17      5.0

In [9]:
df_drop = df_nan.dropna()
df_drop

    example
2      20.0
3      30.0
4      40.0
5      50.0
6      60.0
7      60.0
10      1.0
11      2.0
12      3.0
13      4.0
14      5.0

In [12]:
df_drop.describe()

         example
count  11.000000
mean   25.000000
std    24.041631
min     1.000000
25%     3.500000
50%    20.000000
75%    45.000000
max    60.000000

<h1> Encoding </h1>

In [13]:
#Encoding

pd.get_dummies(df_categorical)

,Color_Blue,Color_Purple,Color_Red,Color_Yellow,Car Brand_Deawoo,Car Brand_Dodge,Car Brand_Fiat,Car Brand_Mercedes
0,0,0,1,0,0,1,0,0
1,1,0,0,0,0,0,0,1
2,0,1,0,0,0,0,1,0
3,0,0,0,1,1,0,0,0

In [14]:
df_categorical

    Color Car Brand
0     Red     Dodge
1    Blue  Mercedes
2  Purple      Fiat
3  Yellow    Deawoo

<h1> Converting Data Types </h1>

In [15]:
df_clean
df_clean.dtypes

example    float64
dtype: object

In [16]:
df_string = df_clean.astype('string')
df_string.dtypes

example    string
dtype: object

In [17]:
df_int = df_clean.astype('int')
df_int.dtypes

example    int32
dtype: object